body{
    background-image: url('./Project\ Photos/Forest.jpg');
    text-align: center;
    margin: 0;
    justify-content: center;
}

.heading-container{
    border: 2px solid #333;
    padding: 20px;
    background-color: brown;
    max-width: 600px;
    width: 100%;
    margin: auto;
    font-size: large;
    font-weight: bolder;
    color: yellowgreen;
}

#question{
    text-align: left;
    font-size: large;
    font-weight: 800;
}
.question-image{
    width: 700px;
    height: 439px;
    max-width: 100%;
    margin: 0 auto;
    border-bottom: 2px solid #333;
}


.quiz-container{
    font-size: 25px;
    border: 2px solid #333;
    padding: 20px;
    font-weight: 800;
    background-color: beige;
    max-width: 600px;
    width: 100%;
    margin: auto;
}

#answers{
    font-weight: 800;
}

.option{
    color: #222;
    font-weight: 500;
    background-color: #fff;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
.option.hovered{
    background-color: #e0e0e0;
}

.option:hover:not([disabled]){
    background: gray;
}
.option:disabled{
    cursor: no-drop;
}

#proceed-button{
    text-align: center;
    color: antiquewhite;
    background: blueviolet;
    cursor: pointer;
    font-weight: 800;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px 0;
    transition: 0.5s;
    display: none;
}

.correct{
    color: green;
}

.incorrect{
    color: red;
}
.option.correct {
    background-color: #4CAF50; /* Green background */
    color: #fff; /* White text */
}

.option.incorrect{
    background-color: red;
    color:#fff;
}

.option.disabled {
    opacity: 0.6; /* Dimmed appearance for disabled buttons */
}
